{% extends 'base.html' %}
{% load static %}

{% block customcss %}
  {% static 'css/longer.css' %}
{% endblock customcss %}

{% block content %}

<section class="top">
  <div class="container">
    <p class="top__desc">
      プログラマのための技術情報共有サービスQiitaにおいて、最もトレンドが強いプログラミング言語や技術をランキング化しています。
      更新ボタン(ランキングを更新する！)を押すことで、最新のランキング(1日に一回しか更新することはできません。)に更新することができます。
      最新の情報に更新されている場合は、更新ボタンは表示されません。
    </p>
    <p class="top__updated-date">最終更新日時(UTC)：  {{ updated_date }}</p>
    {% if need_update %}
      <a class="top__update-button" href="{% url 'longerUpdate' %}">ランキングを更新する！(3分)</a>
    {% endif %}
    <div class="top__cards-wrapper">
      {% for result in results %}
        <div class="top__card top__{{ forloop.counter }}">
          <div class="top__card--inner">
            <div class="top__card--left">
              {% include 'image.html' %}
            </div>
            <div class="top__card--right">
              <h1 class="top__card-title">{{ forloop.counter }}位：  {{ result.key }}</h1>
              <p class="top__card-number">Qiitaでの記事数：  {{ result.value }}記事</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</section>


{% endblock content %}