{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>【プログラミング言語】最新人気度ランキング</title>
  <meta name="description" content="Qiita（キータ）のタグに選ばれているプログラミング言語の最新ランキングです。どんなプログラミング言語が人気なのかチェックしましょう！">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% block customcss %}{% endblock customcss %}">
</head>
<body>
  <header class="header">
    <div class="container">
      <nav class="header__inner">
        <div class="header__left">
          <h1 class="header__title">最新プログラミング言語ランキング</h1>
        </div>
        <div class="header__right">
          <a class="header__subtitle" href="">期間別ランキング(未完成)</a>
        </div>
      </nav>
    </div>
  </header>

  
  {% block content %}
  {% endblock content %}
  
</body>
</html>