{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>【プログラミング言語・技術】最新人気度ランキング</title>
  <meta name="description" content="Qiita（キータ）のタグに選ばれているプログラミング言語の最新ランキングです。どんなプログラミング言語が人気なのかチェックしましょう！">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% block customcss %}{% endblock customcss %}">
</head>
<body>
  <header class="header">
    <div class="container">
      <nav class="header__inner">
        <div class="header__left">
          <a href="{% url 'home' %}"><h1 class="header__title">最新プログラミング言語・技術ランキング</h1></a>
        </div>
        <div class="header__right">
          <ul class="header__links">
            <li><a class="header__link" href="{% url 'longer' %}">100位までのランキングを見る</a></li>
            <li><a class="header__link" href="{% url 'graph' %}">グラフを見る</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="header__height" style="height: 60px;"></div>

  
  {% block content %}
  {% endblock content %}

  <footer class="footer">
    <div class="container">
      <a href="https://note.com/masato1230"><p class="footer__name">created by masato</p></a>
      <br>
      <a href="https://note.com/masato1230">
        <p class="footer__name">製作者のブログ</p>
      </a>
    </div>
  </footer>
  
</body>
</html>